/* Ryan Yerge */
/* CSS Source Code for Portfolio */
/* 2/19/2018_COP 1500 */

#Boxes {

width: 120px;
height: 70px;
text-align: center;  

}

.Title {

font-weight: bold;
text-transform: uppercase;
  

}
