/* Ryan Yerge */
/* CSS Source Code for Portfolio */
/* 2/19/2018_COP 1500 */



.Title, .nav {
  
width: span;
font-weight: bold;
text-transform: uppercase;
text-align: center;   
font-family: 'Playfair Display', serif;
}

.nav {

backgroud: #000;
height: 50px;
  
  
}

.nav ul {

height: 80px;
list-style: none;
margin: 0 auto; 
padding: 0;
}
