/* Ryan Yerge */
/* CSS Source Code for Portfolio */
/* 2/19/2018_COP 1500 */

.Title {

width: span;
font-size: 80px;  

}


.Title, .nav {
  
font-weight: bold;
text-transform: uppercase;
text-align: center;   
font-family: 'Playfair Display', serif;
  
}


.nav {


height: 50px;
  
}


.nav ul {

background-color: black;
height: 80px;
list-style: none;
margin: 0 auto; 
padding: 0;
  
}


.nav ul li {

background-color: black;
color: #fff;
display: inline-block; 
height: 80px;
line-height: 80px; 
list-style: none;
padding: 0 10px;

  
}
